.rodape-end {
    height: 130px;
    background-color: #710F12;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    box-sizing: border-box;
    border-bottom: 8px solid #FA8C19;
}

.rodape-icons {
    margin-left: 10%;
}

.rodape-icons a {
    padding: 0px 20px 0px 0px;
}

.rodape-end p {
    margin-right: 10%;
    font-size: 24px;
}


.rodape-end p a {
    text-decoration: none;
    color: #fff;
}

.rodape-end p a:hover {
    text-decoration: underline;
}