.banner img {
    text-align: center;
    width: 100%;
    height: 500px; /* Altura padrão */
}

.banner img {
    max-width: 100%;
}

/* Media Query para telas menores */
@media (max-width: 768px) {
    .banner img {
        height: 400px; /* Altura ajustada para telas menores */
    }
}

@media (max-width: 480px) {
    .banner img {
        height: 300px; /* Altura ainda menor para dispositivos pequenos */
    }
}